
<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Reservasyrestaurantes</a>
    <div class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="restaurantes" class="nav-link">Restaurantes</a>
      </li>
      <li class="nav-item">
        <a routerLink="reservas" class="nav-link">Reservas</a>
      </li>
      <li class="nav-item">
        <a routerLink="gestion-consumo" class="nav-link">Gestion de Consumo</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>


<router-outlet></router-outlet>
