<div class="container">
  <h1>Gestion de Consumo</h1>
  <div class="row">

    <div class="col-md-6 mr-auto">
      <div class="card">
        <div class="card-body">
          <div class="submit-form">

            <div class="form-group">
              <label for="RestauranteId" class="text-primary">Restaurante</label>
              <select class="form-control" id="RestauranteId" required [(ngModel)]="restauranteSeleccionado">
                <option *ngFor="let res of restaurantes" value="{{res.id}}">{{res.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="text-primary">Fecha</label>
              <div class="input-group mb-3">
                <input type="date" [ngModel]="fecha | date:'yyyy-MM-dd'" (ngModelChange)="fecha = $event" class="form-control">
              </div>
            </div>

            <!-- <div class="form-group">
              <label for="horas" class="text-primary">Rango de horas</label>
              <ng-select
                id="horas"
                [items]="rangohoras"
                [multiple]="true"
                [closeOnSelect]="false"
                [clearable]="true"
                [searchable]="false"
                bindLabel="name"
                bindValue="id"
                placeholder="Selecciona el rango de hora"
                [(ngModel)]="hora">
                <ng-option *ngFor="let hora of rangohoras" value="{{hora.id}}">
                  {{hora.name}}
                </ng-option>
              </ng-select>
            </div> -->

            <button (click)="retrieveMesas()" class="btn btn-outline-secondary btn-sm">Ver mesas disponibles</button>

            <div class="form-group">
              <br/>
              <label for="MesaId" class="text-primary">Mesa</label>
              <select class="form-control" id="MesaId" required [(ngModel)]="mesaNumero">
                <option *ngFor="let mesa of mesas" value="{{mesa.id}}">{{mesa.nombre}}</option>
              </select>
            </div>

            <button (click)="seleccionarMesa()" class="btn btn-outline-secondary btn-sm">Seleccionar Mesa</button>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mr-auto">
      <div class="card">
        <div class="card-body">
          <div *ngIf="mostrar">
            <div class="form-group">
              <label for="Cliente" class="text-primary">Cliente</label>
              <select class="form-control" id="Cliente" required [(ngModel)]="clienteSeleccionado">
                <option *ngFor="let cli of clientes" value="{{cli.id}}">{{cli.nombre}}</option>
              </select>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">#</th>
                    <th style="width: 20%;" scope="col">Producto</th>
                    <th style="width: 10%;" scope="col">Cantidad</th>
                    <th style="width: 10%;" scope="col">Precio por unidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let det of detalles | paginate: { itemsPerPage: 10, currentPage: p }; index as j">
                    <th scope="row">{{j+1}}</th>
                    <td>{{det.Producto.nombre}}</td>
                    <td>{{det.cantidad}}</td>
                    <td>{{det.Producto.precio_venta}}</td>
                  </tr>

                </tbody>
              </table>
              <h1>Total = {{total}}</h1>
              <div id="opcion">
                <label for="Productos" class="text-primary">Productos</label>
                <select class="form-control" id="Productos" required [(ngModel)]="productoSeleccionado">
                  <option *ngFor="let prod of productos" value="{{prod.id}}">{{prod.nombre}}</option>
                </select>
              </div>
              <div id="opcion">
                <input
                    width="20"
                    type="number"
                    class="form-control"
                    placeholder="Cantidad"
                    [(ngModel)]="cantidad"
                />
              </div>
              <div id="opcion">
                <button (click)="agregarProducto()"  class="btn btn-outline-secondary btn-sm">Agregar</button>
              </div>
              <button class="btn btn-outline-secondary btn-sm" (click)="cerrarMesa()">Cerrar Mesa</button>
            </div>
          </div>
          <div *ngIf="!mostrar">
            <div class="form-group">
              <label for="Cliente" class="text-primary">Cliente</label>
              <select class="form-control" id="Cliente" required [(ngModel)]="clienteSeleccionado">
                <option *ngFor="let cli of clientes" value="{{cli.id}}">{{cli.nombre}}</option>
              </select>
              <button class="btn btn-outline-secondary btn-sm" (click)="cargarMesa()">Abrir Mesa</button>

              <table class="table table-striped">
                <thead>
                  <tr>
                    <th style="width: 5%;" scope="col">#</th>
                    <th style="width: 20%;" scope="col">Producto</th>
                    <th style="width: 10%;" scope="col">Cantidad</th>
                    <th style="width: 10%;" scope="col">Precio por unidad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let det of detalles | paginate: { itemsPerPage: 10, currentPage: p }; index as j">
                    <th scope="row">{{j+1}}</th>
                    <td>{{det.Producto.nombre}}</td>
                    <td>{{det.cantidad}}</td>
                    <td>{{det.Producto.precio_venta}}</td>
                  </tr>

                </tbody>
              </table>
              <h1>Total = {{total}}</h1>
              <div id="opcion">
                <label for="Productos" class="text-primary">Productos</label>
                <select class="form-control" id="Productos" required [(ngModel)]="productoSeleccionado">
                  <option *ngFor="let prod of productos" value="{{prod.id}}">{{prod.nombre}}</option>
                </select>
              </div>
              <div id="opcion">
                <input
                    width="20"
                    type="number"
                    class="form-control"
                    placeholder="Cantidad"
                    [(ngModel)]="cantidad"
                />
              </div>
              <div id="opcion">
                <button (click)="agregarProducto()"  class="btn btn-outline-secondary btn-sm">Agregar</button>
              </div>
              <button class="btn btn-outline-secondary btn-sm" (click)="cerrarMesa()">Cerrar Mesa</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

  <!-- <div class="row">
    cabecera cambiar a abierto
    <button (click)="abrirMesa(1)">Abrir Mesa</button>
    cerrar mesa ocupada
    <button (click)="cerrarMesa()">Cerrar Mesa</button>
    pdf mesa ocupada
    <button (click)="pdf()">pdf</button>
  </div> -->
</div>


<div class="container">

</div>
